After=syslog.target
After=network.target

[Service]
User=myapp
ExecStart=/usr/bin/java {{java_opts}} -jar {{app_jar}} --endpoints.enabled={{actuator_enabled | default(False) | bool | ternary('true', 'false')}}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target