
# --- DataSource
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://192.168.61.10/dojo_db?currentSchema=personne
spring.datasource.username=postgres
spring.datasource.password=postgres


liquibase.enabled=true
liquibase.url=jdbc:postgresql://192.168.61.10/dojo_db?currentSchema=personne
liquibase.user=postgres
liquibase.password=postgres

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=none


spring.jackson.serialization.indent_output=true
server.port = 8080
